* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0; 
    text-decoration: none;
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
}

.header .logo img{
    padding:2px;
    width:120px;
    height:auto;
}

.navigation-bar {
    padding: 8px;
    display: flex;
    width:30%;
    justify-content: space-around;
}

.navigation-bar a{
    color: #593D3B
}

.navigation-bar a:hover {
    color: #A3B18A; /* Optional hover color */
}

.search-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-box input {
    width: 110px;
    height: 18px;
    padding: 5px;
    border: solid #593D3B;
    border-radius: 20px;
    margin-top: 2px;
}

.search-box i {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    margin-top: 2px;
}

.intro {
    height: 280px;
    background-image: url("img/subpage-banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    color:#FFFFFF;
    justify-content: center;
    align-items:center;

}


.gray-square {
    height: 70px;
    width: 170px;
    background-color: rgba(218, 215, 218, 0.6); 
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.design-rec {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    height: 100px;
}

#green-rec {
    width: 50%;
    height: 30px;
    background: #A3B18A;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#gray-rec {
    width:35%;
    height: 30px;
    background: #DAD7CD;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.background-section {
    height: 210px; /* Adjust the height as needed */
    background-image: url("img/subpage-banner.png"); /* Path to your image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    position: relative; /* To ensure text positioning works */
    border-radius: 20px;
}
.background-text {
    height: 75px;
    width: 180px;
    background-color: rgba(218, 215, 218, 0.6);
    color: rgb(255, 251, 251); 
    font-size:x-large;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-container {
    display: flex;             
    justify-content: center;   
    align-items: center;       
    padding-top: 20px;   
    margin: 0 15px;
    color: white;
}
.text-container p {
    margin: 0 15px;               /* Space between items */
    background-color: #a8917e;
    padding: 5px;
    border-radius: 5px;
    
}
.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust the height as needed */
    text-align: center;
    border-radius: 20px;
}

.centered-text p {
    font-size: 18px;
    color: #593D3B; /* Text color */
    margin: 0;
    margin-top: -170px;
}
.squares-container {
    display: flex;
    justify-content: center; /* Brings squares closer together and centers them */
    align-items: center; /* Center them vertically */
    width: 100%; /* Ensure the container takes full width */
    margin-bottom: 10px;
    margin-top: -145px;
    text-align: center;
    
}

.square {
    width: 160px;              
    height: 145px;             
    background-color: rgb(210, 210, 210); 
    border-radius: 10px;
    margin: 0 30px; /* Reduces space between squares */
}
.square-text {
    font-size: 16px; /* Adjust the font size */
    color: #593D3B; /* Text color */
    font-size: 16px; /* Adjust the font size */
    color: #593D3B; /* Text color */
    margin-left: 5px;
    margin-top: 20px;
    

}