* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

.header .logo img {
  padding: 2px;
  width: 120px;
  height: auto;
}

.navigation-bar {
  padding: 8px;
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.navigation-bar a {
  color: #593d3b;
}

.navigation-bar a:hover {
  color: #a3b18a;
}

.search-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-box input {
  width: 110px;
  height: 18px;
  padding: 5px;
  border: solid #593d3b;
  border-radius: 20px;
  margin-top: 2px;
}

.search-box i {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  margin-top: 2px;
}

main {
  position: relative;
  background-image: url("../img/coffee.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main::before {
  content: ""; /* Create the overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
  filter: blur(3px);
  z-index: 1;
}

.profile-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

#profile-container-box {
  height: 400px;
  width: 450px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center; /* Center-align text */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.user-icon-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.user-icon {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #ab947e;
}

#logout {
  background-color: transparent;
  color: #593d3b;
  border: 1px solid #593d3b;
  border-radius: 6px;
  width: 5rem;
  height: 2.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 7px;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
  transition: background-color 0.3s, color 0.3s;
}

#logout:hover {
  background-color: #6f5e53;
  color: white;
}

#logout:active {
  transform: scale(0.99);
}

p {
  font-size: 1rem;
  color: #371414;
}

h2 {
  color: #371414;
}

#user-info {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
